*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus{
	outline: none;
}

html{
	height: 100%;
	tab-size: 4;
	font-size: 14px;
	line-height: 28px;
	-webkit-text-size-adjust: none;
}

body{
	// By default, `absolute` element's offsetParent is `body`,
	// but it still align `top` pixels relative to document.
	// Which means, set `margin-top` on `html` or `body` will not cause
	// `absolute` element moved. So we added a `position: relative` here.
	position: relative;

	-webkit-tap-highlight-color: rgba(#000, 0);
}

a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

ul{
	list-style-type: none;
}

hr{
	height: 1px;
	border: none;
}

img, iframe{
	border: none;
}

input, select, button, textarea, table, optgroup, pre{
	font-size: inherit;
	font-family: inherit;
	color: inherit
}

input, select, button, textarea, label, img, svg{
	vertical-align: top;
}

// For ios safari
input, select, button, textarea{
	border-radius: 0;
}

button{
	cursor: pointer;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

[disabled]{
	opacity: 0.4;
	cursor: not-allowed !important;
	pointer-events: none;

	& &{
		opacity: 1;
	}
}

[hidden]{
	display: none !important;
}
